/*
    テンプレート外のCSS
*/

/* ICAR ロゴ用のフォント*/
@font-face {
	font-family: 'gunnerstormexpand';
	src: url(../font/gunnerstormexpand.ttf);
}

.icar-logo{
    font-family: 'gunnerstormexpand';
    font-size: 125%;

} 

.min {
    font-size :60%;
    overflow: hidden;
}
.link-btn {
    margin-top:10px;
   text-align: center;
   width:100%;
  

}
.abstract {
    text-align: left;
}
.facepic{
    margin-left:  auto;
    margin-right:  auto;
    border-radius: 180px;
    border:5px solid white;
}